{{!-- <div class="card card-body" style=" margin:auto; float:center; width:70%; height:100%; "> --}}

  <!-- <form method='post' action="/FM"> -->

{{#each fm.errors as |i|}}
  <div class="alert alert-danger" role="alert">
  {{i.text}}
  </div>
{{/each}}
  <form action="/FM?_method=PUT"  method="post" >

    <div class="card card-body" style=" margin:auto; float:center; width:70%; height:100%; ">
    <center><input name="title" value="{{fm.title}}" required style="border-style:none;  text-align: center; font-size:20px; letter-spacing:1px; border-bottom:1px solid black;"placeholder="Title..."value={{title}}></center>
        
        <div style="margin-bottom:0px; padding-bottom:0px"  class="form-group">
          <label for="code">Code:</label>
            <div style="font-size:1em; border-radius: 10px;border-width: 1px; border-style: solid; border-color: blue; float:center;  scroll:auto; width:100%; height:15rem;" id="editor"></div>
            <textarea class="form-control" style="display: none;margin:auto; border-color: blue; float:center;  scroll:auto; width:100%; height:15rem;" value='{{fm.code}}' name="code" id="code" type="text" >{{fm.code}}</textarea>
        </div>

        <div class="form-group">
            <input type="file" id="files" name="file" />
            <span class="readBytesButtons">
              <span style="background-color: black; color:white; padding:5px; border-radius: 5px; letter-spacing: 1.5px; font-size: 15px; font-family:cursive; cursor:pointer;">Push Code!</span>
            </span>
        </div>
</br>
        <div class="form-group">
          <label for="details">Problem Tags:</label>&nbsp;&nbsp;&nbsp;<span style="color:crimson">{*Click on tag to discard it}</span>
             <span onClick="addMore()" style="background-color: black; color:white; padding:5px; border-radius: 5px; letter-spacing: 1.5px; font-size: 15px; font-family:cursive; cursor:pointer;">Add More!</span>
              
               <div id="TAGS">
                      {{#each fm.tags as |x|}}
                            <div onclick="discard()" style='display: inline; margin-right:0.8rem;'><input  style='display:none;' name="tags" value={{x}}><span style='cursor:pointer; font-size:0.9em; font-family:`Times New Roman`, Times, serif; letter-spacing:0.1em;' class="badge badge-secondary">{{x}}</span></div>
                      {{/each}}
               </div>
        </div>

        <div class="form-group">
          <label for="details">ReadMe:</label>
          <textarea class="form-control" style=" margin:auto; border-color: blue; float:center;  scroll:auto; width:100%; height:5rem;" value='{{fm.details}}' name="details" type="text" >{{fm.details}}</textarea>
        </div>

        



        <button type="submit"   id='btn' style="display:block;" class="btn btn-dark">Submit</button>
    </div>
    </form>
<style>
  label{
    font-weight: 800;;
  }
</style>
<script>
        function addMore(){
          let data=prompt("Enter Tag Name")
          if(data)
            document.getElementById('TAGS').innerHTML+="<div onclick='discard()' style='display: inline; margin-right:0.8rem;'><input  style='display:none;' name='tags' value="+data+"><span style='cursor:pointer; font-size:0.9em; font-family:`Times New Roman`, Times, serif; letter-spacing:0.1em;' class='badge badge-secondary'>"+data+"</span></div>";
        }

        function discard(){
          let parent=event.currentTarget.parentElement;
          parent.removeChild(event.currentTarget);
        }
</script>

    <script>

          var editor = ace.edit("editor");
          editor.session.setMode("ace/mode/html");
        editor.setTheme("ace/theme/github");
        var EditSession = require("ace/edit_session").EditSession;

    var js = new EditSession(document.getElementById('code').value);
    var css = new EditSession(["some", "css", "code here"]);
    // and then to load document into editor, just call

    editor.setSession(js)
        editor.setReadOnly(false)
        editor.setOptions({
        autoScrollEditorIntoView: true,
        copyWithEmptySelection: true,
    });

        // editor.session.setMode("ace/mode/javascript");
        // editor.session.setMode("ace/mode/html");

        editor.session.setMode("ace/mode/c_cpp");

    </script>


    <script>
      function readBlob(opt_startByte, opt_stopByte) {

        var files = document.getElementById('files').files;
        if (!files.length) {
          alert('Please select a file!');
          return;
        }

        var file = files[0];
        var start = parseInt(opt_startByte) || 0;
        var stop = parseInt(opt_stopByte) || file.size - 1;

        var reader = new FileReader();

        // If we use onloadend, we need to check the readyState.
        reader.onloadend = function(evt) {
          if (evt.target.readyState == FileReader.DONE) { // DONE == 2
            document.getElementById('code').value = evt.target.result;
            editor.setValue(evt.target.result);
          }
        };

        var blob = file.slice(start, stop + 1);
        reader.readAsBinaryString(blob);
      }

      document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
        if (evt.target.tagName.toLowerCase() == 'span') {
          var startByte = evt.target.getAttribute('data-startbyte');
          var endByte = evt.target.getAttribute('data-endbyte');
          readBlob(startByte, endByte);
        }
      }, false);
    </script>
    <script>
    document.getElementById('editor').addEventListener('keyup',
    function(){
    var sz=document.getElementById('code').value=editor.getValue();
    })
    </script>
