 <form action="/FM/compile1/{{fm._id}}"  method="post" >
                <center><input name="title" style="display:none;" value={{fm.title}}><h3>{{fm.title}}</h3></center>
                <center><textarea name="code" style="display:none;" value={{fm.code}}>{{fm.code}}</textarea><span style="color:brown; font-size:25px;">Code:</span></center>
                <pre   class="box main card card-body " id='kira'  style=" margin:5px auto; font-size: 15px;border-color: blue; float:center; width:80%;  height:80%; "><code>{{fm.code}}</code></pre>
                  </br>
                 
                <center> 
                  <label class="form-check-label">Language:
                    <select  name="language" style=" color:#1BA95C" class="form-control">
                        <option {{#ifEquals fm.language "C++"}}Selected{{/ifEquals}} value="C++">Cpp 11</option>
                        <option {{#ifEquals fm.language "Py"}}Selected{{/ifEquals}} value="Py">Python</option>
                        <option {{#ifEquals fm.language "Jv"}}Selected{{/ifEquals}} value="Jv">Java</option>
                        <option {{#ifEquals fm.language "C"}}Selected{{/ifEquals}}value="C">C</option>
                    </select>
                  </label>
                </center>
</br>

        <div class="form-group">
                        <center><h3>Inputs:</h3></center>
              <textarea class="form-control" style=" margin:auto; border-color: blue; float:center;  scroll:auto; width:80%; height:3rem;" value="{{fm.inputs}}"  name="inputs" type="text" >{{fm.inputs}}</textarea>
        </div>

    {{#if fm.output}}
          <div class="form-group">
                                     <center><h3>Output:</h3></center>
              <textarea class="form-control" style=" margin:auto; border-color:{{#if fm.type}}red{{else}}blue{{/if}}; float:center;  scroll:auto; width:80%; height:5rem;" type="text" >{{fm.output}}</textarea>
            </div>
    {{/if}}



                {{#if fm.tags}}
                <center><span style="color:brown; font-size:25px;">Problem Tags:</span></center>
                <pre   class="box main card card-body " id='kira'  style=" margin:10px auto; font-size: 15px; border-color: blue; float:center; width:80%;  height:80%; "><code>{{#each fm.tags as |K|}}<input name="tags" style="display:none;" value={{K}}><span onclick="goto()" style='cursor:pointer; margin-right:1em; font-size:0.9em; font-family:`Times New Roman`, Times, serif; letter-spacing:0.1em;' class='badge badge-secondary'>{{K}}</span>{{/each}}</code></pre>
                {{/if}}
                
                <center><input name="details" style="display:none;" value={{fm.details}}><span style="color:brown; font-size:25px;">ReadMe:</span></center>
                <pre   class="box main card card-body " id='kira'  style=" margin:10px auto; font-size: 15px; border-color: blue; float:center; width:80%;  height:80%; "><code>{{fm.details}}</code></pre>

       <center> <button type="submit"  name="action" value="compile" id='btn' style="display:block; width:80%; margin-bottom:1em;" class="btn btn-dark">Compile</button> </center> 
</form>












<script>
    function goto(){
             window.open( 
              "https://www.google.co.in/search?q=geeksforgeeks+"+event.target.innerHTML, "_blank"); 
    }
</script>
<script type="text/javascript">
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
